body {
  font-size: 1.5em; 
  background-color: yellow;
}
.container-fluid {
  padding: 0;  
}
header {  
  background-image: linear-gradient(360deg, rgba(255, 102, 102, .8), rgb(255, 137, 137, .8), rgb(252, 174, 174, .8), rgb(255, 234, 221, .8)),
  url(./assets/images/ryan-mcguire-N-1XGL54pQg-unsplash.png);
  background-size: cover;
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50vh 50vh; 
  justify-items: center;  
  align-items: center;
  margin-bottom: 50px;
}
.icons {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
}
.hero-text {
  grid-area: 2/1/2/span 5;
  padding-bottom: 40px;
}
h1 {  
  font-family: 'Grandiflora One', serif;
  color: white;
  font-size: 4rem;
  text-shadow: black 2px 1px 8px; 
  text-align: center;
}
#marie {
  text-decoration: solid underline #FF6666 4px;
  font-size: 4rem;
}
header  p {
  text-align: center;
  color: white;
  font-family: 'Prompt', sans-serif;  
  align-self: center;
  font-size: 2rem;
}
#developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
.me {
  width: 350px; 
  margin-bottom: 35px;
}
#developer a {  
  color: #FF6666;
  border: #FF6666 solid;
  display: block;
  width: 100px;
  font-family: Prompt, sans-serif;
  font-weight: bolder;
}
#developer > p {
  font-family: Prompt, sans-serif;
  text-align: center;
  padding-top: 30px;
  max-width: 700px;
}
h2, h3 {
  color: #FF6666;
  font-family: 'Grandiflora One';
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
  color: black;
  background-color: rgb(248,249,250);
  padding-top: 20px;
  margin-bottom: 0;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
  object-position: 50% top;
  margin-bottom: 20px;
}
.card-text {  
  font-family: Prompt, sans-serif;  
  padding-top: 20px;
  font-size: 1.2rem;
  height: 200px;
  overflow-y: auto;
}
.javascript {  
  height: 168px;
}
.btn-primary {
background-color: #FF6666;
border: solid black;
font-family: Prompt;
font-weight: bolder;
}
.btn-primary:hover {
  background-color: #FFEADD;
  color: #FF6666;
  border: #FF6666 solid;
}
.btn-primary:focus {
  background-color: #FFEADD !important;
  color: black !important;
  border: solid black !important;
}
#about-me {
  min-height: 100vh;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.painting {  
  float: left;  
  padding-right: 30px;
  border-radius: 4px;
} 
.journal-artist {
  font-size: 2rem;
  font-weight: bolder;
  line-height: 0;
}
#about-me p {
  font-family: Prompt, sans-serif;
  font-size: 1.5rem;
  min-height: 324px;
  text-align: justify;
  margin-bottom: 50px;
}
.hobbies-div {
  display: flex;  
  font-family: Prompt, sans-serif;
  justify-content: center;
  margin-bottom: 50px;
  gap: 35px;
}
.hobbies-div ul {
  list-style: none;
  padding: 0;
}
.hobbies-div a {
text-decoration: none;
color: #FF6666;
}
#contact {
  height: 60vh;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.reach-out {
  margin-top: 25vh;
  font-size: 3rem;
  text-align: center;
}
#contact p {
  text-align: center;
  font-family: Prompt, sans-serif;  
  align-self: center;
}
.contact-widgets {
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: space-evenly; 
}
.stack-icon{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction:  column;
  height: 80px;  
  text-decoration: none;
  color: #FF6666;
}
.contact-widgets .linked::before{
  content: "" / "Linked In Icon";
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/76/Font_Awesome_5_brands_linkedin.svg);
  background-size: 25px;
  filter:  grayscale(1);
  display:inline-block;
  height: 30px;
  width: 25px;  
}
.contact-widgets .git::before{
  content: "" / "Github Icon";
  background: url(https://avatars.githubusercontent.com/u/130631260?v=4);
  background-size: 26px;
  height: 25px;
  width: 25px;
}
.contact-widgets .twit::before{
  content: "" / "Twitter Icon";
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/19/Twitter_icon.svg);
  background-size: 21px;
  display:inline-block;
  height: 30px;
  width: 21px;  
}
.emailme .at-sign{
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: block;
  color: #FF6666;
  height: 35px;
  width: 25px;
}
footer {
  margin-top: 35vh;
  text-align: end;
  padding: 5px;
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
  .me {
    padding-left: 20px;
    padding-right: 20px;
  }
  .painting {
    height: auto;
    width: 100%;
    display: block;
    margin:0;
    float: none;
    padding-bottom: 10px;
  }
  .icons {
    grid-area: 1/2/1/span 2;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: black solid 1px;
  }  
  .hero-text {
    align-self: end;
  }
  #developer a {  
    font-size: 1.5rem;
  }
}